/*menu*/
body {
    margin: 0 0 0 0;
    overflow-x: hidden;
}
p {
    opacity: 1;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color :#153553;
    position: sticky;
}

    .menuItem {
        margin: 1em 1em 0.2em 1em;
        color: white;
        font-family: Halyard Micro;
        font-style: normal;
        font-weight: 600;
        font-size: 2vw;
        line-height: 49px;
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        transition: 0.5s;
    }

    .dots {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dot {
        height: 2vh;
        width: 2vh;
        background-color: white;
        border-radius: 50%;
        margin: 0 0vw;
    }

    .dots .dot:first-of-type {
        margin: 0 5vw
    }




    .line {
        border-top: 0.25em solid white;
        width: 65vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 18vw;
    }

    .menuItem:hover {
        color: #AA6464
    }

.logo {
    background-image: url("logos_Thick White.svg");
    background-repeat: no-repeat;
    height: 43%;
    width: 43%;
    transition: 0.5s ease-in;
    position: absolute;
    top: 20%;
    margin-left: 5%;
    filter: drop-shadow(4px 7px 7px rgba(0, 0, 0, 0.25));
}

.logo:hover {
    background-image: url("logos_Thick\ Inverse\ White.svg");
}

.introBanner {
    background: #153553;
    height: 90vh;
    width: 100vw;
    position: relative;
    top: 0%;
    left: 0%;
}

.introText {
    margin-left: 8%;
    top: 40vh;
    position: absolute;
    width: 30%;
    font-family: halyard-display, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5vw;
    line-height: 1.5em;
    color: white;
}

#introNormal {
    font-weight: 300;
    font-size: .8em;
}

.portraitStuff {
    display: inline-block;
	position: relative;
    width: 100%;
	vertical-align: middle; 
    overflow: hidden;
}

.portrait {
    position: absolute;
    top: 20%;
    left: 50%;
    height: 70%;
    background: #C4C4C4;
    clip-path: url(#svgPath);
    perspective: 500px;
}



svg {
    position: absolute;
    top: 0;
    right: 0;
}

/* #firstblob {
    animation: rotation 1s infinite;
    d: path("M8 270C-4.8 230 2.66667 192.667 8 179C16 171 26 179 38 168C50 157 62 155 74 143C86 131 90 128 96 114C102 100 104 89 96 69C88 49 86 47 85 29C84 11 100 -4.00002 118 1.99998C136 7.99998 181 11 188 21C195 31 244 34 266 21C288 7.99999 298 3.99999 319 11C340 18 356 33 370 56C384 79 382 79 392 105C402 131 407 116 430 143C453 170 453 171 460 187C467 203 470 205 474 233C478 261 474 255 460 255C446 255 416 305 424 316C432 327 422 328 424 357C426 386 416 372 407 383C398 394 390 394 370 397C350 400 343 411 325 425C307 439 309 438 292 443C275 448 261 448 219 438C177 428 188 443 167 448C146 453 99 468 62 443C25 418 51 389 45 367C39 345 24 320 8 270Z")
} */


.myHand {
    position: relative;
    perspective: 1000%;
    width: 100vw;
}

.myHandText {
    font-family: Halyard Display;
    font-style: normal;
    font-weight: bold;
    font-size: 20vh;
    line-height: 20vh;
    position: absolute;
    width: 100vw;
    z-index: 2;
    white-space: nowrap;
    text-overflow: clip;
    overflow: -moz-hidden-unscrollable;

}

.myHandOther {
    text-shadow: 2px 2px 0 black, -2px 2px 0 black, 2px -2px 0 black, -2px -2px 0 black;
    color: white;
    
}


.cardContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    top: 8vmax;
    padding-top: 10vh;
    perspective: 100vmax;
}

.cardContainer .card:first-of-type {
    margin-left: 8%;
}

.card {
    transform-style: preserve-3d;
    background: white;
    box-shadow: 0.831195px 0.831195px 8.31195px 3.32478px rgba(0, 0, 0, 0.18);
    border-radius: 3%;
    height: 100%;
    width: 50%;
    margin: 0% 5% 5% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardInfo {
    position: relative;
    top: 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 70vh;
    width: 20vw;
    padding-bottom: 7%;
}

    .role {
        font-family: Halyard Micro;
        font-style: normal;
        font-weight: 500;
        font-size: 1vmax;
        text-transform: uppercase;
        padding-top: 10%;
        text-align: center;
    }

    .place {
        font-family: Halyard Display;
        font-style: normal;
        font-weight: 600;
        line-height: 70%;
        font-size: 4vmax;
        text-align: center;
    }

    .placeIcon {
        content: ""
    }

    #royce {
        margin-top: 10%;
        height: 50%;
        margin-bottom: 10%;
    }

    #design{
        margin-top: 8%;
        height: 50%;
        margin-bottom: 2%;
    }

    #data {
        margin-top: 10%;
        height: 42%;
    }

    .description {
        font-family: Halyard Display;
        font-style: normal;
        font-weight: 300;
        font-size: 1.5vw;
        line-height: 100%;
        text-align: center;
    }


    .description strong {
        font-weight: 500;
    }
